@media screen and (max-width: 750px) {
	/* SECTION PRODUCT */

	.product .description
	{
		margin-top: 15px;
	}

	/* END SECTION PRODUCT */

}
@media screen and (max-width: 500px) {

	/* SECTION PRODUCT */
	.container-product-band_head
	{
		height: 200px;
	}
	.container-product-band_head_link
	{
		top: initial;
		bottom: 20px;
		right: 50%;
		-webkit-transform: translate(50%, 0%);
		-ms-transform: translate(50%, 0%);
		-o-transform: translate(50%, 0%);
		transform: translate(50%, 0%);
	}
	.product
	{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.product a
	{
		width: 100%;
		height: auto;
	}
	.product video
	{
		width: 100%;
		height: auto;
	}
	.product .info
	{
		padding-right: 70px;
	}

	/* END SECTION PRODUCT */

}